body{
    padding:0;
    margin:0;
    background-color:#eee;
	font-family:Raleway;
}
#loader{
	position:relative;
	top:300px;
	left:50%;
}
.cent_height{
	height:100%;
}
.semi_height{
	height:50%;
}
.border{
	border:1px solid black;
}
@font-face {
    font-family: Raleway;
    src: url(public/assests/fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: Rawline;
    src: url(public/assests/fonts/rawline-300.woff);
}

.homepage{
    padding:0px;
    margin:0;
    overflow-x : hidden;
    overflow-y : hidden;
    width:100%
}
.fixed_header{
    padding:5px;
    width:100%;
}
.page_header{
    padding:5px;
    width:100%;
    background-color:#000;
}
.brand_logo{
	background-image: url(public/assests/logo.png);
    height: 60px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 12%;
    cursor: pointer;
    position: relative;
    top: 4px;
    background-size:100px;
	visibility:hidden;
}
.logo{
	background-image: url(public/assests/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.logo_txt{
	display: inline-block;
    text-align: center;
    vertical-align: top;
    position: relative;
    top: 30px;
}
.logo_box{
	display:inline-block;
	width:12%;
}
.homeBanner{
	height:700px;
	background-image : url('public/assests/green.jpg');
	background-size:cover;
    width:100%;
}
.banner_text{
	clear:both;
	position:relative;
	top:30px;
	left:90px;
	height:430px;
}
.banner_text p{
	font-size:80px;
}
.homeBanner p{
	color:#eee;
	font-family:Raleway;
}
.nav_panel{
	float:right;
	position:fixed;
    margin-left : 30%;
    display:inline-block;
    padding:17px 0px;
    width:60%;
}
.nav_panel a{
	display:inline-block;
	color:#fff;
	font-size: 20px;
	width:20%;
	text-align:center;
    cursor:pointer;
	font-weight:bold;
}
.company_name{
	font-size:35px;
	margin:0
}
.company_tagline{
	font-size:20px;
	margin:0;
}
.name_banner{
	height:150px;
}

.homeContent{
    padding:20px 10px;
}
.home_icons{
    height: 360px;
    padding: 0px 20px;
}
.home_icon_holder{
    height:100%;
}
.icon_info_holder{
    height:100%;
}
.home_icon_image{
    height:50%;
}
.home_icon_text{
     height:50%;
     background-color: azure;
     padding-top: 10px;
}
.solar_image{
    background-image:url('public/assests/solars.jpeg');
    background-size:cover;
}

.section{
	height:700px;
	border: 1px solid black;
}
.service_banner{
	height:45%;
	background-image:url('public/assests/panels.jpeg');
	opacity:0.9;
	padding-top:100px;
}
.service_tagline{
    color: white;
    text-align: center;
    font-size: 45px;
}
.service_text{
	color: white;
    text-align: center;
    font-size: 70px;
    padding: 0px;
    margin: 0;
}
.service_info{
	height:55%;
}
.service_info_block{
	height:100%;
}
.icon_block{
	height: 50%;
    padding: 50px 70px 10px 90px;
}
.circuit_icon{
	background-image:url('public/assests/circuit.png');
	height: 120px;
    background-repeat: no-repeat;
}
.solar_icon{
	background-image:url('public/assests/solar.png');
	height: 120px;
	background-size:135px;
    background-repeat: no-repeat;
}
.icon_info{
	padding:0px 25px;
	
}
.icon_header{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 22px;
	font-family:Rawline;
}
.icon_text{
    text-align: center;
    font-size: 15px;
}
.enquiry_banner{
	
}
.enquiry_blocks{
	height:33%;
}
.enquiry_txt_block{
	padding: 10% 0px;
}
.phone{
	background-image: url('public/assests/phone.png');
	background-size: 130px;
    background-repeat: no-repeat;
    background-position: 30px;

}
.mail{
	background-image: url('public/assests/mail.png');
	background-size: 130px;
    background-repeat: no-repeat;
    background-position: 30px;

}
.locate{
	background-image: url('public/assests/locate.png');
	background-size: 130px;
    background-repeat: no-repeat;
    background-position: 30px;

}
.meeting{
	background-image: url('public/assests/meeting.jpg');
	height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
	background-position:-70px;

}
.product_info_block{
	padding:5%;
}
.product_icon_block{
	height:50%;
}
.calculate{
	background-image: url('public/assests/calculate.png');
	height: 100%;
    background-repeat: no-repeat;
	background-position:center;
}
.battery{
	background-image: url('public/assests/battery.png');
	height: 100%;
    background-repeat: no-repeat;
	background-position:center;
}
.tools{
	background-image: url('public/assests/tools.png');
	height: 100%;
    background-repeat: no-repeat;
	background-position:center;
}
.homeFooter{
	height:200px;
    padding:20px;
	background-color:black;
	opacity:0.7;
}
.social_icons{
	padding:20px;
    text-align:center;
	color:white;
}
.footer_text{
	text-align:center;
	color:white;
}
.linkedin{
	background-image : url('public/assests/linkedin.png');
	height: 30px;
    display: block;
    background-repeat: no-repeat;
}
.gplus{
	background-image: url(public/assests/googleplus.png);
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 50px;
    padding: 20px;
    cursor: pointer;
}
.fb{
	background-image: url(public/assests/Facebook.png);
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 50px;
    padding: 20px;
    cursor: pointer;
}
.youtube{
	background-image: url(public/assests/YouTube.png);
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 50px;
    padding: 20px;
    cursor: pointer;
}
.twitter{
	background-image: url(public/assests/Twitter.png);
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 50px;
    padding: 20px;
    cursor: pointer;
}
.whatsapp{
	background-image: url(public/assests/WhatsApp.png);
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 50px;
    padding: 20px;
    cursor: pointer;
}