<div class="cent_height" style="padding-top:70px;">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 enquiry_banner">
		<p>Established in 2016, with an initial aim to expand the awareness and installations regarding the Solar Energy harnessing, Wechitra
		Enterprises today is one of the leading electrical installation provider in the market.  Moving ahead from the initial solar aims, we today 
		cater to the entire electrical needs for our customers.</p>
		<p>
		Our list of offered services today contains :
		<p>
		 <ul>
			<li>Power Conditioning</li>
			<li>Solar Conditioning</li>
			<li>Power Installation</li>
			<li>Power Backup Installation</li>
			<li>Panel Maintenanace</li>
		 </ul>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 enquiry_banner cent_height"> 
		<div class="row cent_height">
			<div class="col-lg-12 col-md-12 col-sm-4 col-xs-4 enquiry_blocks">
				<div class="row cent_height">
					<div class="col-md-8 cent_height enquiry_txt_block">
						<div class="icon_info">
							<p class="icon_header">(+91) - 981 158 9108</p>
							<p class="icon_text">For any enquiries, give us a call during 10am to 6pm, Mon to Fri.</p>
						</div>
					</div>
					<div class="col-md-4  cent_height pull-right phone">
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-4 col-xs-4 enquiry_blocks">
				<div class="row cent_height">
					<div class="col-md-8 cent_height enquiry_txt_block">
						<div class="icon_info">
							<p class="icon_header">wechitraenterprises@gmail.com</p>
							<p class="icon_text">For detailed information about our quotes and your ongoing assignments, drop us a mail and we will respond.</p>
						</div>
					</div>
					<div class="col-md-4  cent_height pull-right mail">
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-4 col-xs-4 enquiry_blocks">
				<div class="row cent_height">
					<div class="col-md-8 cent_height enquiry_txt_block">
						<div class="icon_info">
							<p class="icon_header">C-902, Vatika IN XT, Sec-83, Gurgaon</p>
							<p class="icon_text">We will be pleased with your visit at our office anytime during our office hours.</p>
						</div>
					</div>
					<div class="col-md-4  cent_height pull-right locate">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	</div>
</div>