<div class="container homepage">
	<div class="homeBanner" id="home">
        <div class="fixed_header">
            <div class="brand_logo" ng-click="hc.scrollFn($event, 'home')"></div>
            <div class="nav_panel">
                <a class="nav_links" ng-repeat="link in hc.texts.NAVLINKS" ng-click="hc.scrollFn($event, link.state)">{{link.name}}</a>
            </div>
        </div>
		<div class="banner_text row">
			<p class="col-lg-12 col-md-12 col-xs-12 col-xs-12">{{hc.texts.HOME_BANNER_TEXT1}}</p>
			<p class="col-lg-12 col-md-12 col-xs-12 col-xs-12">{{hc.texts.HOME_BANNER_TEXT2}}</p>
		</div>
		<div class="name_banner row">
			<div class="cent_height col-lg-12 col-md-offset-4 col-lg-offset-4 col-sm-offset-4 col-xs-offset-4 col-md-12 col-xs-12 col-xs-12">
				<div class="cent_height logo logo_box">
				
				</div>
				<div class="logo_txt">
					<p class="company_name">Wechitra Enterprises</p>
					<p class="company_tagline">For your entire electrical needs</p>
				</div>
			</div>
		</div>
	</div>
	<div class="homeContent">
		<div class="section" id="about" ng-include="'public/templates/aboutus.html'">
		  
		</div>
		<div class="section" id="products" ng-include="'public/templates/products.html'">
		  
		</div>
		<div class="section" id="services" ng-include="'public/templates/services.html'">
		  
		</div>
		<div class="section" id="enquiry" ng-include="'public/templates/enquiry.html'">
		
		</div>
	</div>
	<div class="homeFooter">
        <div class="social_icons">
            <span class="linkedin social_icon"></span>
            <span class="gplus social_icon"></span>
            <span class="fb social_icon"></span>
            <span class="twitter social_icon"></span>
            <span class="whatsapp social_icon"></span>
            <span class="youtube social_icon"></span>
            <span class="instagram social_icon"></span>
        </div>
		<div class="footer_text">
			<p>&copy;&nbsp;{{hc.texts.COMPANY}}</p>
			<p>{{hc.texts.COPYRIGHT}}</p>
			<p>{{hc.texts.JUDICIARY}}</p>
		</div>
	</div>
</div>