<div class="cent_height" style="padding-top:70px;">
	<div class="row cent_height">
		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 semi_height ">
				<div class="product_info_block cent_height">
					<div class="product_icon_block">
						<div class="calculate"></div>
					</div>
					<div class="icon_info">
						<p class="icon_header">Customizing your needs</p>
						<p class="icon_text">Lets us know your daily power needs and we will calculate your energy usage. We strive hard to deliver you the best fit for your needs</p>
					</div>
				</div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 semi_height ">
			<div class="product_info_block cent_height">
					<div class="product_icon_block">
						<div class="battery"></div>
					</div>
					<div class="icon_info">
						<p class="icon_header">Optimizing your Backup</p>
						<p class="icon_text">Backing up your  electrical needs is important. But are you overdoing the things ?  We help you optimize your power backup needs perfectly.</p>
					</div>
				</div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 semi_height ">
			<div class="product_info_block cent_height">
					<div class="product_icon_block">
						<div class="tools"></div>
					</div>
					<div class="icon_info">
						<p class="icon_header">Power Circuit Designing</p>
						<p class="icon_text">End-to-End designing for your entire power installation.</p>
					</div>
				</div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 semi_height ">
			<div class="product_info_block cent_height">
					<div class="product_icon_block">
						<div class="tools"></div>
					</div>
					<div class="icon_info">
						<p class="icon_header">Renovating your systems</p>
						<p class="icon_text">Timely renovation is as important as the initial installation. Our maintenance team ensures all your systems remain in good health over the time.</p>
					</div>
				</div>
		</div>
	</div>
</div>