		<div>
			<div class="service_banner">
				<p class="service_text">Our Services</p>
				<p class="service_tagline">We are good at what we do</p>
			</div>
			<div class="service_info row">
				<div class="service_info_block col-md-3 col-sm-6 col-xs-12">
					<div class="icon_block">
						<div class="circuit_icon"></div>
					</div>
					<div class="icon_info">
						<p class="icon_header">Power Circuit Designing</p>
						<p class="icon_text">End-to-End designing for your entire power installation.</p>
					</div>
				</div>
				
				<div class="service_info_block col-md-3 col-sm-6 col-xs-12">
					<div class="icon_block">
						<div class="solar_icon"></div>
					</div>
					<div class="icon_info">
						<p class="icon_header">Solar power harnessing</p>
						<p class="icon_text">Complete solar power installation for commercial as well as individual purposes.</p>
					</div>
				</div>
				
				<div class="service_info_block col-md-3 col-sm-6 col-xs-12">
					<div class="icon_block">
						<div class="power"></div>
					</div>
					<div class="icon_info">
						<p class="icon_header">Power Conditioning</p>
						<p class="icon_text">Wide range of UPS/Inverter solutions for your individual or commercial power needs</p>
					</div>
				</div>

				<div class="service_info_block col-md-3 col-sm-6 col-xs-12">
					<div class="icon_block">
						<div class="circuit_icon"></div>
					</div>
					<div class="icon_info">
						<p class="icon_header">Power Circuit Designing</p>
						<p class="icon_text">End-to-End designing for your entire power installation</p>
					</div>
				</div>
			</div>
		</div>